extends layout

block content
  div(class="r-b-corner")
    div(class="options")
      a(href="#" id="hide-local-preview")
        i(class="fa fa-chevron-down")
    video(id="cuuvideo" muted class="local" autoplay)
  video(id="hilovideo" class="remote" autoplay)
  div(id="errorMsg")
  script(src="javascripts/cuu.js")

     
