extends layout

block content
  a(href="../" class="retry") Retry?
  div(class="full-video")
    iframe(width="854" height="480" src="https://www.youtube.com/embed/4LZs78xNUrw?rel=0&amp;autoplay=1&amp;controls=1&amp&amp;showinfo=0&amp;modestbranding=1" frameborder="0" allowfullscreen)
