doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.css')
    script(src="/vendor/jquery/dist/jquery.js")
    script(src='/javascripts/adapter.js') 
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
  body
    block content        
