extends layout

block content
  canvas(id="canvas")
  div(class="r-b-corner")
    div(class="options")
      a(href="#" id="hide-local-preview")
        i(class="fa fa-chevron-down")
    video(id="localvideo" muted class="local" autoplay)
  video(id="remotevideo" class="remote" autoplay)
  div(id="errorMsg")
  //script(type='text/javascript').
  //  var animation = 0;
  script(src="javascripts/portal.js")     
  //script(src="javascripts/portalGif.js")
  
