extends layout

block content
  div(class="r-b-corner")
    div(class="options")
      a(href="#" id="hide-local-preview")
        i(class="fa fa-chevron-down")
    video(id="localvideo" muted class="local" autoplay)
  video(id="remotevideo" class="remote" autoplay)
  script(src="javascripts/portal.js")

     
