html
  overflow:hidden
  
body
  font: 14px Helvetica, Arial, sans-serif
  margin 0
  
a
  color: #00B7FF

video
  width: 50%
  display: inline-block

.canvas
  width: 100%
  height: 100%

.animated
  transition: all 0.5s ease

.remote
  position: absolute
  width: 100%
  object-fit cover

#fullscreen
  transform: translateX(40px)
  &.active
    transform: translateX(0px)


.r-b-corner
  position absolute
  right 20px
  bottom 20px
  z-index 3
  overflow: hidden
  transition: all 0.5s ease
  &.hidden
    #hide-local-preview
      transform: rotate(180deg)
    .options
      bottom 0
    .local
      transform translateY(120%)

  .options
    text-align: right
    padding 5px 0px
    position: absolute
    bottom 0
    width: 100%
    z-index: 2
    a
      font-size 15px
      color white
      display: inline-block
      padding: 10px
      transition: all 0.5s ease

.local
  border 1px solid whitesmoke
  width 250px
  border-radius: 3px
  transition: all 0.5s ease

.options-screen
  position: absolute
  right 20px
  top 20px
  a
    color white
    transform: scale(1,1)
    display: inline-block
    &:hover
      transform: scale(2,2)

//Full page
.full-video
  position relative
  padding-bottom 56.25%
  padding-top 25px
  height 0
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.retry
  position fixed
  bottom 20px
  right 20px
  color white
  font-size 20px
  z-index 1000
  text-decoration none
